
body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button:hover {
  border-color: #FF6F61;
}

/* .App :focus {
  outline: none;
} */
