
a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  font-weight: 600;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

